{% extends "global/base.html" %} {% load static %}
<!-- -->
{% block head %}
<link rel="stylesheet" href="{% static 'tarefas/css/tarefas_index.css' %}" />
{% endblock head %}
<!-- -->
{% block content %}
<div class="container-fluid header">
  <h1>Minhas Tarefas</h1>
  <a href="{% url 'adicionar' %}" class="btn btn-primary">Adicionar Tarefa</a>
</div>
<br /><br />
<div class="container">
  {% for tarefa in tarefas %}
  <div class="container-tarefa">
    <div class="tarefa-content">
      <h5>{{tarefa.titulo}}</h5>
      <p>{{tarefa.descricao}}</p>
    </div>
    <form action="{% url 'excluir' tarefa.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock content %}
