.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.header .btn {
  height: min-content;
}

.container-tarefa {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tarefa-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-tarefa p {
  margin: 0;
}

.realizada {
  border-color: red;
}
